In [10]:
library(tidyverse)

Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang

Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2

-- Attaching packages --------------------------------------- tidyverse 1.2.1 --

v ggplot2 3.1.1       v purrr   0.3.2
v tibble  2.1.1       v dplyr   0.8.0.1
v tidyr   0.8.3       v stringr 1.4.0
v readr   1.3.1       v forcats 0.4.0

-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

# R Help Sheet
## R Markdown (just writing here for reference)
This topic will be covered after Mid-Term \#2, but want the reference here.
* https://towardsdatascience.com/write-markdown-latex-in-the-jupyter-notebook-10985edb91fd

## Basics
* Store data into variables using (<-)
* Logical functions
  * $==$ tests if two objects are equal
* Print values using the $print()$ function
  * $cat()$ to print multiple items
  * $sprintf()$ is similar but same style as *C*

In [22]:
a <- 5
A <- matrix(1:12,4,3)

print(a)

print(cat("a =",a,"  and A =","\n"))
print(A)

sprintf("A class ran %d miles with times of %d, %d, and %d seconds", a, A[1,1], A[2,1], A[3,1])

[1] 5
a = 5   and A =
NULL
     [,1] [,2] [,3]
[1,]    1    5    9
[2,]    2    6   10
[3,]    3    7   11
[4,]    4    8   12

[1] "A class ran 5 miles with times of 1, 2, annd 3 seconds"

* $seq()$ or $seq(from=x, to=y, by=n)$: Create a series of numbers with interval $n$
* $min:max$: Create a series of numbers with interval $1$

In [23]:
seq(1,10)
5:20

 [1]  1  2  3  4  5  6  7  8  9 10

 [1]  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

* Logarithm: the function $log(x)$ uses the natural logarithm.
  * $log10$ is log base 10
  * Define other bases with $log(x,base = n)$

In [16]:
print(log(10))
print(log(exp(1)))
print(log(10,base=10))

[1] 2.302585
[1] 1
[1] 1

## Classes and Data Storage
* $data()$ lists available sets of data
* $ls()$ lists all the data active in the system
* $str()$ summarizes the structure of an object
* $head()$ shows the first six lines of an object
* \$ accesses a variable from the data object (*object\$variable*) as a vector
* $names()$ gives the names for each variable
* $length()$ gives the length of a vector